inicio{

    background-color: cornsilk;
    font-size: 40px;

}

h1{

    background-color: yellow;


}

hb{

    background-color: forestgreen;
    font-size: 40px;

}

aa{

    background-color: darkgrey;
    font-size: 40px;

}

bb{

    background-color: paleturquoise;
    font-size: 40px;

}

cc{

    background-color: firebrick;
    font-size: 40px;

}